<!DOCTYPE html>
<html lang="en">

<head>
<title>Opportunity Finder</title>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="JS/fte.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/reference_css.css">
  <link rel="stylesheet" type="text/css" href="../css/Capture.css">
  <script src="../js/calculations.js"></script>
  






</head>
<body>
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
              <img  class="navbar-brand" src="mphasis_logo.jpg">
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/user/adminHome">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Process Discovery<span class="caret"></span></a>
                 <ul class="dropdown-menu" role="menu">
                  <li><a href="/user/captureProcess"><b>Capture Process</b></a></li>
              <li><a href="/user/processViewById"><b>View Process</b></a></li>
              <li><a href="/user/approveProcess"><b>Approve Process</b></a></li>
              <li><a href="/user/processPrioritization"><b>Process Prioritization</b></a></li>
                    
                    
                 </ul>
             </li>
            <li><a href="/user/userManagement">User Management</a></li>
        <li><a href="/user/About">About</a></li>
        <li><a href="/user/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
      
      <div class="jumbotron" id="cp">
        <div class="container text-center" >
        <h1 id="pc">Capture Process</h1>
        <p>Capture Process Related Details</p>
        
        </div>
      </div>
<center><font color="green"><h1>{{viewtitle}}</h1></font></center>
<div class="text-right">
          
          
                
             <button type="button" onclick="goBack()" class="btn btn-success">Back</button>  
        
          </div>
<div class="container" id="abc">
    <div class="row">
        <div class="col-md-6">
    
  <form action="/user/addProcessTwo" method="POST">
    <div class="row">
      <div class="col-20">
        <label for="fname">21. Process ID</label>
      </div>
      <div class="col-75">
        <input type="text-center"  class="form-control" name="Proc_Id" value="{{list.Proc_Id}}" readonly>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <label for="fname">22. Number of applications involved in the process</label>
      </div>
      <div class="col-75">
        <input type="text-center"  class="form-control"  name="Num_of_apps" onkeypress="return isNumberKey(event)"  required>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <label for="lname">23. Number of mainframe applications involved</label>
      </div>
      <div class="col-75">
        <input type="text-center" class="form-control" name="Num_of_mainframe" onkeypress="return isNumberKey(event)"  required>
      </div>
    </div>
    <div class="row">
      <div class="col-20">
        <label for="country">24. Number of applications to be accessed through Citrix</label>  
      </div>
      <div class="col-75">
        <input type="text-center" class="form-control"  name="Num_of_Citrix" onkeypress="return isNumberKey(event)"  required>
      </div>
    </div>
    <div class="row">
        <div class="col-20">
          <label for="country">25. Are there any 3rd Party Sites involved  in the process</label>  
        </div>
        <div class="col-75">
           <select  class="form-control" name="Third_party_sites" required>
                <option disabled selected value> -- select an option -- </option>
                <option value="1">Yes</option>
                     <option value="0">No</option>
                     
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="country">26. Number of Screens involved in the process
</label>  
        </div>
        <div class="col-75">
          <input type="text-center"  class="form-control"  maxlength="30" name="Num_of_scrs" onkeypress="return isNumberKey(event)" required>
        </div>
      </div>
    <div class="row">
      <div class="col-20">
        <label for="subject">27. Number of  process steps
</label>
      </div>
      <div class="col-75">
        <input id="subject" class="form-control"  name="Num_of_proccessteps" onkeypress="return isNumberKey(event)" required>
      </div>
    </div>
    <div class="row">
        <div class="col-20">
          <label for="country">28. Number of Exceptions/alternate scenarios
</label>  
        </div>
        <div class="col-75">
            <input type="number-center" class="form-control"  onkeypress="return isNumberKey(event)"    name="Num_of_Scenarios" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="country">29. Number of Decision points involved in the process
</label>  
        </div>
        <div class="col-75">
            <input type="number-center" class="form-control"   onkeypress="return isNumberKey(event)" name="Num_of_Decpoints" required/>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="country">30. Number of Standard Input Template
</label>  
        </div>
        <div class="col-75">
            <input type="number-center" class="form-control" name="Num_of_standardinput" onkeypress="return isNumberKey(event)" required>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="sla">31. Interaction with Dynamic Table
</label>
        </div> 
        <div class="col-75">
          <select  class="form-control"  name="Intr_dynamic_table" required>
                <option disabled selected value> -- select an option -- </option>
                <option value="Less than 8 hrs">Less than 8 hrs</option>
                     <option value="Less than 12 hrs">Less than 12 hrs</option>
                     
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-20">
          <label for="fname">32. Number of Dynamic\Ajax based controls
</label>
        </div>
        <div class="col-75">
            <input type="number-center"   class="form-control"  step="any" maxlength="30" name="Num_of_basedcontrols" onkeypress="return isNumberKey(event)" required>
        </div>
      </div>
      
    </div>
    
    <div class="col-md-6">
    
      <div class="row">
          <div class="col-20">
            <label for="lname">33. Number of Access Profile to cover
</label>
          </div>
          <div class="col-75">
            <input  class="form-control" type="text-center"   name="Num_of_accessprofile" onkeypress="return isNumberKey(event)" required>
          </div>
        </div>
        <div class="row">
            <div class="col-20">
              <label for="country">34. Number of Browser Support
</label>  
            </div>
            <div class="col-75">
            <input  class="form-control" type="text-center"  name="Num_of_browsersupp" onkeypress="return isNumberKey(event)" required>
          </div>
          </div>
          <div class="row">
              <div class="col-20">
                <label for="country">35. Operational stability of the applications and how often is it changed?</label>  
              </div>
              <div class="col-75">
                      <select class="form-control"   name="Operation_stability" required>
                              <option disabled selected value> -- select an option -- </option>
                              <option value="0">Planned Downtime</option>
                              <option value="1">Once in a month</option>
                             </select>
              </div>
            </div>
          <div class="row">
            <div class="col-20">
              <label for="subject">36. Frequency of business process Change</label>
            </div>
            <div class="col-75">
                  <select class="form-control" name="Freq_change" required>
                          <option disabled selected value> -- select an option -- </option>
                      <option value="1">Frequently</option>
                      <option value="0">Infrequently</option>

                     </select>
            </div>
          </div>
          <div class="row">
              <div class="col-20">
                <label for="country">37. Service Level Agreement of the process?</label>  
              </div>
              <div class="col-75">
                      <select  class="form-control"  name="Svc_lvl_agr" required>
                              <option disabled selected value> -- select an option -- </option>
                          <option value="2">Less than 8 hrs</option>
                          <option value="1">Less than or equal to 24 hrs</option>
                          <option value="0">More than 24 hrs</option>
                         </select>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="country">38. Number of Business User to Get Sign-off
</label>  
              </div>
              <div class="col-75">
                      <input  class="form-control" type="text-center"  name="Num_of_getsignoff" onkeypress="return isNumberKey(event)" required>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="country">39. Number of Business Team Required for Environment Set-up
</label>  
              </div>
              <div class="col-75">
                      <input  class="form-control" type="text-center"  name="Num_of_Envsetup" onkeypress="return isNumberKey(event)" required>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="sla">40. Funtional Point ( Ease of Implementation) X- Axis</label>
              </div>
              <div class="col-75">
                      <input class="form-control" type="number-center" name="Func_point"  required>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="sla">41. Monthly effort Savings (Y AXIS)
</label>
              </div>
              <div class="col-75">
                      <input class="form-control"  type="number-center" name="Monthly_effsaving" required>
              </div>
            </div>
            <div class="row">
              <div class="col-20">
                <label for="sla">42. Effort (#pm)
</label>
              </div>
              <div class="col-75">
                      <input class="form-control"  type="number-center"  name="Effort" required>
              </div>
            </div>

             <div class="row">
              <div class="col-20">
                <label for="sla">43. Quadrant

</label>
              </div>
              <div class="col-75">
                      <input class="form-control"  type="number-center"  name="Quadrant" required>
              </div>
            </div>
            
            
          </div>
          </div>
          <div class="text-center">
          
          
                
            <input type="submit" class="btn btn-success" value="Submit"> 
        
          </div>
          </div>
          
             
          
        </div>
        </div>
          
  </form>
  <!-- </div>
  
</div>

<footer class="text-center">
    <div>
        <a href="Processdiscovery.html">
            <input type="submit" class="btn btn-success" value="Submit"> 
        </a>
        </div>
  </footer>
</body>
</html> -->